
.gameBackground{
    width: 100%;
    min-height: 86vh;
}


.dropdownSection{
    width: 100%;
    height: 75vh;
    background-image: url(../assets/backgroundImages/17070480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}