@use "variables" as *;
:root{
   --sliderImg: url("../assets/placeHolderSprites/snorlax.png");
   --isPlaying:false;
}

.dropdownSection{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    height: 40vw;
    .headerText{
        font-family: $solidFont;
          text-transform: capitalize;
          font-size: 2.5rem;
          letter-spacing: 10px;
          margin: 0 auto;
          position: absolute;
          top: 140px;
          color: $pokemonYellow;
          text-shadow: -1.5px -1.5px 0 $pokemonBlueLight, 1.5px -1.5px 0 $pokemonBlueLight, -1px 2px 0 $pokemonBlueLight, 1px 2px 0 $pokemonBlueLight;
          text-align: center;
        h2{
          font-size: 1.6rem;
          font-family: $bodyFont;
          text-transform: none;
          letter-spacing: 2px;
          color: $pokemonYellow;
        }
    }
    .contentContainer{
        max-width: 75%;
        display: flex;
        img{
           width: 150px;
           height: auto; 
        }
        .dropdownMenu{
            width: 50vw;
            select{
                background-color: $pokemonYellowShadow;
                font-family: $solidFont;
                font-size: 24px;
                
            }
        }
    }
}

.difficultyRange{
    height: 10vw;
    width: 90%;
    &::-moz-range-thumb{
        width: 15rem;
        height: 15rem;
        background:var(--sliderImg);
        background-size: contain;
        border: none;
    }

    &::-moz-range-track{
        width: 100%;
        height: 0.5rem;
        background: #205928;
    }
}

.difficultyRangeMini{
    height: 5vw;
    width: 80%;
    background:$pokemonRed;
    &::-moz-range-thumb{
        width: 10rem;
        height: 10rem;
        background:var(--sliderImg);
        background-size: contain;
        border: none;
    }

    &::-moz-range-track{
        width: 70%;
        height: 0.5rem;
        background: #205928;
    }
}

.goButton{
    display: flex;
    justify-content: center;
}

.pokeBallButton{
    display: block;
    // margin: 0 auto;
    padding: 5vw;
    font-size: 2rem;
    background: url(../assets/placeHolderSprites/pokeball.jpg);
    background-size: contain;
    border: none;
    color: white;
    transition: 0.1s;
    &:active{
        transform: scale(1.2);
    }
}
