@use "variables" as *;
:root{
  --blurMultiplier:1;
}

.pokeWrapper {
  
  width: 420px;
  height: 690px;
  margin: 2rem 0;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  box-shadow: 0 4px 6px rgb(0 0 0 /10%), 0 1px 3px rgb(0 0 0 / 10%);

  position: relative;
  @media (width: 405px) {
    
  }
}

.quizContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  position: relative;
  z-index: 10;
  background-color: $pokemonRed;
  border-style: groove;
  padding: 1.5rem 4rem 3rem 4rem;
}

.screenBorder{
  background-color: lightgray;
  border: 10px  ridge lightgray;
  border-radius: 1.5rem;
  height: 295px;
    .screenFooter{
      display: flex;
      justify-content: space-between;
    }
    .counter{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 35px;
      height: 35px;
      background-color: lightblue;
      color: black;
      border: 2px inset black;
    }
    .speakerContainer{
      display: flex;
      justify-content: end;
      padding-right: 2rem;
      max-width: 40px;
        .bar{
          display: block;
          width: 40px;
          height: 2px;
          margin: 5px auto;
          background-color: black;
        }
    }
  .redCircle{
    background-color: $pokemonRedShadow;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid;
    margin: 10px;
    // margin-left: 21px;
  list-style: none;
  }
}

.spriteContainer{
  display: flex;
  align-items: center;
  border: 5px inset;
  background: rgb(194,203,241);
  background: radial-gradient(circle, rgb(229, 231, 242) 0%, rgba(122,133,226,1) 48%, rgba(230,77,77,0.9791193008422852) 100%); 
  width: 300px;
  height: 240px;

  // animated-glow - color, spread,multiplier
  @include glow(white,5rem,var(--blurMultiplier));
  img {
      width: 100%;
      height: auto;
      padding: 25px;
      filter:brightness(0);
  }
  
}

.pokedexHeader{
  .pokedexLights{
    ul{
      list-style: none;
      display: flex;
      justify-content: flex-start;
      // margin: 0 auto;
      // padding-left: 0;
    }
    .blueCircle{
      background-color: $pokemonBlueShadow;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      list-style: none;
      border: 1px solid;
      //adding a blue glow
      @include glow(lightblue,2rem,var(--blurMultiplier));
    }
    .redCircle{
      background-color: $pokemonRedShadow;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 1px solid;
      margin-left: 21px;
     list-style: none;

     //adding a red glow color, spread, multiplier
     @include glow(orange,1rem,var(--blurMultiplier));
  }
  .yellowCircle{
    background-color: $pokemonYellowShadow;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 1px solid;
      margin-left: 21px;
     list-style: none;
      //adding a red glow color, spread, multiplier
     @include glow(yellow,1rem,var(--blurMultiplier));
  }
  .greenCircle{
    background-color: $pokemonGreenDark;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 1px solid;
      margin-left: 21px;
     list-style: none;
      //adding a red glow color, spread, multiplier
     @include glow(green,0.5rem,0.5);
  }
  }
  .gameTitle{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
  }
}



.nameTitle{
  font-size: 1.2rem;
text-align: center;
line-height: 1.3;
margin: 2rem 0;
}
.quizOptions{
  list-style-type: none;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  button {
      border-radius: 0.5rem;
      // font-weight: 600;
      font-family: $bodyFont;
      text-transform: capitalize;
      // font-size: ;
      width: 40%;
      margin: 0.7rem 1rem;
      padding: 0.4rem 1.2rem;
      cursor: pointer;
      border: 3px ridge $pokemonYellow;
      background-color: $pokemonYellow;
      color: black;
      box-shadow: 0 4px 0 0 $pokemonYellowShadow;
      transition: all 300ms ease-in-out;
      &:hover {
        color: $pokemonBlueLight;
        ;
      }
      &:active {
        transform: scale(0.97);
      }
    }
    
}

.quizFooter {
  // display: flex;
  button {
    // margin: 0.7rem 1rem;
      border-radius: 0.5rem;
      outline: 0;
      font-family: $bodyFont;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      margin: 0 auto;
      text-transform: uppercase;
      border: 3px ridge black;
      cursor: pointer;
      background-color: $pokemonGreen;
      color: black;
      letter-spacing: 2px;
      transition: all 300ms ease-in-out;
      box-shadow: 0 4px 0 0 $pokemonGreenDark;
    }
}

// .submitAnswer{
//   border: none;
//   border-radius: 0.5rem;
//   outline: 0;
//   font-family: $bodyFont;
//   font-size: 1.2rem;
//   font-weight: 600;
//   padding: 0.5rem 1rem;
//   margin: 0 auto;
//   text-transform: uppercase;
//   cursor: pointer;
//   display: block;
//   background-color: $pokemonGreen;
//   color: black;
//   letter-spacing: 2px;
//   transition: all 300ms ease-in-out;
//   box-shadow: 0 4px 0 0 $pokemonGreenDark;
//   &:active{
//     color: darkgray;
//     }
//   }

 
  .pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    border: 5px ridge $pokemonRedShadow;
    // height: 345px;
    width: 420px;
    z-index: 1;
    background-color: $pokemonRed;
    transition-duration: 0.2s;
    bottom: 34%;
    padding: 5%;
    p{
      width: 75%;
      font-size: 1.5rem;
      margin-block: 2rem;
    }
    .devContainer{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }

  .openDex{
    transform:translateX(100%);
    
  }

  .settings{
    position: absolute;
    border: 5px ridge $pokemonRedShadow;
    // height: 345px;
    width: 420px;
    z-index: 1;
    background-color: $pokemonRed;
    transition-duration: 0.2s;
    bottom: 10%;
    padding: 5%;
  }

  .openSettings{
    transform:translateX(-100%);
  }
  .innerDisplay{
    background: green;
    width: 100%;
    height: 15rem;
    border:10px ridge black;
    @include glow(lightgreen,2rem,var(--blurMultiplier));
  }

  .colm,.shaishav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 130px;
    height: fit-content;
    border-radius: 15%;
    a{
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }

  }