// COLOURS
$pokemonBlueLight:#2a75bb;
$pokemonBlueShadow:#3c5aa6;
$pokemonYellow:#ffcb05;
$pokemonYellowShadow:#c7a008;
$pokemonGreen: #79ac4c;
$pokemonGreenDark: #008000;
$pokemonRed: #ff0000;
$pokemonRedShadow:#cc0000;

// fonts
$solidFont:'Pokemon-Solid', sans-serif;
$hollowFont: 'Pokemon-Hollow', sans-serif;
$bodyFont: 'game-text', sans-serif;

// breakpoints
$wideDesktop:"1500px";
$desktop:"1000px";
$tablet:"810px";
$mobile:"500px";