// COLOURS
$pokemonBlueLight:#2a75bb;
$pokemonBlueShadow:#3c5aa6;
$pokemonYellow:#ffcb05;
$pokemonYellowShadow:#c7a008;
$pokemonGreen: #79ac4c;
$pokemonGreenDark: #008000;
$pokemonRed: #ff0000;
$pokemonRedShadow:#cc0000;

/*pokeball gradient*/ 
// background: rgb(131, 3, 3);
//     background: linear-gradient(
//       180deg,
//       rgba(131, 3, 3, 1) 20%,
//       rgba(233, 9, 9, 1) 40%,
//       rgba(8, 7, 7, 1) 53%,
//       rgba(231, 231, 231, 1) 59%,
//       rgba(112, 109, 109, 1) 100%
//     );


// fonts
$solidFont:'Pokemon-Solid', sans-serif;
$hollowFont: 'Pokemon-Hollow', sans-serif;
$bodyFont: 'game-text', sans-serif;

// breakpoints
$wideDesktop:"1500px";
$desktop:"1000px";
$tablet:"810px";
$mobile:"500px";