@use "./partials/setup";
@use "partials/variables" as *;
@use "./partials/fontsAndTypography";
@use "./partials/backgroundGradient";
@use "./partials/header";
@use "./partials/difficultySection";
@use "./partials/gameSection";
@use "./partials/footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
html{
    font-size: 62.5%;
}

body {
    font-family: $bodyFont;
    // min-height: 100vh;
}

.flexContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}
// body{
    
//     background: #923489;
//     @include f.font(f.$solidFont,2.5rem);

// }