html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Pokemon-Solid";
  src: url(../assets/fontsAndTypography/pokemon-solid-font/PokemonSolidNormal-xyWR.ttf);
}
@font-face {
  font-family: "Pokemon-Hollow";
  src: url(../assets/fontsAndTypography/pokemon-hollow-font/PokemonHollowNormal-pyPZ.ttf);
}
@font-face {
  font-family: "game-text";
  src: url(../assets/fontsAndTypography/PressStart2P/PressStart2P-Regular.ttf);
}
.gameSection {
  width: 100%;
  height: 75vh;
  background: rgb(241, 241, 241);
  background: radial-gradient(circle, rgb(241, 241, 241) 1%, rgb(42, 117, 187) 30%, rgb(232, 0, 13) 91%);
}

.dropdownSection {
  width: 100%;
  height: 75vh;
  background-image: url(../assets/backgroundImages/17070480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: #2a75bb;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}
nav ul li {
  padding: 25px;
}
nav a {
  text-decoration: none;
  font-family: "Pokemon-Solid";
  color: #ffcb05;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 7px;
  transition: 0.7s ease;
  cursor: pointer;
}
nav a:hover {
  color: #ff0000;
}
nav a:focus {
  color: #cc0000;
}

.dropdownSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdownSection .headerText {
  font-family: "Pokemon-Solid";
  text-transform: capitalize;
  font-size: 2.5rem;
  letter-spacing: 10px;
  margin: 0 auto;
  position: absolute;
  top: 140px;
  color: #ffcb05;
  text-shadow: -1.5px -1.5px 0 #2a75bb, 1.5px -1.5px 0 #2a75bb, -1px 2px 0 #2a75bb, 1px 2px 0 #2a75bb;
}
.dropdownSection .contentContainer {
  max-width: 75%;
  display: flex;
}
.dropdownSection .contentContainer img {
  width: 150px;
  height: auto;
}
.dropdownSection .contentContainer .dropdownMenu {
  position: relative;
  display: inline-block;
}
.dropdownSection .contentContainer .dropdownMenu select {
  background-color: #c7a008;
  font-family: "Pokemon-Solid";
  font-size: 24px;
}

.pokeWrapper {
  background-color: #ff0000;
  padding: 1.5rem 4rem 3rem 4rem;
  width: 350px;
  height: 475px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spriteContainer {
  border: 10px solid rgb(51, 51, 51);
  background: rgb(194, 203, 241);
  background: radial-gradient(circle, rgb(194, 203, 241) 0%, rgb(122, 133, 226) 48%, rgba(230, 77, 77, 0.9791193008) 100%);
  width: 180px;
}
.spriteContainer img {
  width: 100%;
}

.gameTitle {
  text-align: center;
  font-size: 2rem;
}

.nameTitle {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.quizOptions {
  list-style-type: none;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.quizOptions button {
  border-radius: 0.5rem;
  font-weight: 600;
  width: 40%;
  margin: 0.7rem 1rem;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border: 3px solid #ffcb05;
  background-color: #ffcb05;
  color: black;
  box-shadow: 0 4px 0 0 #c7a008;
  transition: all 300ms ease-in-out;
}
.quizOptions button:hover {
  color: #2a75bb;
}
.quizOptions button:active {
  transform: scale(0.97);
}

.quizFooter button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: "game-text";
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: #79ac4c;
  color: black;
  letter-spacing: 2px;
  transition: all 300ms ease-in-out;
  box-shadow: 0 4px 0 0 #008000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "game-text";
  min-height: 100vh;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */